addict
future
lmdb
numpy==1.26.4
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf
lpips
natsort
chardet 
yacs 
termcolor
submitit 
tensorboardX
triton
packaging
fvcore
seaborn
pytorch_msssim
ptflops
timm
thop